a:hover {
  color: #ffffff;
  text-decoration: none;
}
li:hover {
  background: #0EA389;
  cursor: pointer;
}
a {
  color: #000000;
  text-decoration: none;
}
.list-group-item.selected {
  background: #0f6674;
  color: #ffffff;
}
.list-group-item.hide {
  display: none;
}


