<nav class="navbar navbar-expand-lg navbar-light bg-light">

      <ul class="navbar-nav nav mr-auto nav-pills" >
        <li role="presentation" class="nav-item"><a routerLink="/" class="navbar-brand">{{ title }}</a></li>
        <li role="presentation" id="new" class="nav-item">
          <a routerLink="/new/request" class="nav-link" [class.active]="myPath==='/new/request'">Ny forespørgsel</a>
        </li>
        <li role="presentation" id="requests" class="nav-item">
          <a routerLink="/requests" class="nav-link" [class.active]="myPath==='/requests'">Mine forespørgsler</a>
        </li>
        <li role="presentation" id="answers" class="nav-item">
          <a routerLink="/answers" class="nav-link" [class.active]="myPath==='/answers'">Besvar forespørgsler</a>
        </li>
      </ul>
      <ul class="navbar-nav nav nav-pills navbar-right">
        <li role="presentation" id="settings" class="nav-item">
          <a routerLink="/settings" class="nav-link" [class.active]="myPath==='/settings'">Indstillinger</a>
        </li>
      </ul>

</nav>
